# Rules in this file were initially inferred by Visual Studio IntelliCode from the D:\Projects\FoodChainSimulator\FoodChainSimulator\ codebase based on best match to current usage at 2020/9/6
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.{cpp,h}]
root = true 
indent_size = 4
charset = utf-8